# === Kotlin/Java general ===
*.class
*.jar
*.war
*.ear
*.log
*.iml
*.ipr
*.iws
.kotlin/

# === Gradle ===
.gradle/
build/
out/

# Kotlin DSL build cache
.gradle.kts.cache/

# Distribution artifacts
/dist/
/build/install/
/build/distributions/

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr

# User-specific files
*.swp
*.swo
*.DS_Store
*.bak
*.tmp
*.orig

# === Docker artifacts ===
*.tar
docker-build/

# === Asciidoctor (jeśli generujesz PDF/HTML lokalnie) ===
*.pdf
*.html

# === Logs ===
*.log

# === VSCode (jeśli używasz) ===
.vscode/

# === System ===
Thumbs.db
.DS_Store

# ./gradlew
!gradle/wrapper/gradle-wrapper.jar