<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                {
                "severity": "%level",
                "message": "%msg",
                "trace": "%X{logging.googleapis.com/trace}",
                "timestamp": "%date{ISO8601}"
                }
            </Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
